h1, h3, h4, h5, h6{
 text-align:center;
}
.stripe{
background-color: black;
}
.header{
margin-bottom:25px;
margin-top:25px;
background-image:url(http://images.cdn.filmclub.org/news-and-events__daisies-632.jpg);
color:white;
}
.feed{
background-color: rgba(230,230,230,0.3);
}
html, body{
  width:100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body{
background-image:url(http://i.stack.imgur.com/MtKUX.jpg);
}
#map, #map2{
  width:300px;
  height:250px;
  text-align:center;
}
.bg_fix{
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size: cover;
  }
 .featured{
  margin-left: 5px;
  background-color: rgba(250, 250, 250, 0.3);
  border-style: solid thin;
  border-color: black;
  }
.btn-danger{
  float: right;
}
.btn-primary{
  text-align: center;
}
.logout{
  float:right;
}
