 <template name="signupForm">
           <div>
          <form id="signup-form">
          <h2>Sign Up</h2>

          <label for="signup-username">Username</label>
          <input type="text" id="signup-username" placeholder="Username" />

         <label for="signup-password">Password</label>
        <input type="password" id="signup-password" placeholder="Password" />

         <label for="signup-name">Email</label>
         <input type="email" id="signup-email" placeholder="something.email" />

           <button type="submit">Sign Up</button>
          </form>
	      </div>
      </template>

<template name="loginForm">
      <div>
      <form id="login-form">
     <h2>Log In</h2>

    <label for="login-username">Username</label>
    <input type="text" id="login-username" placeholder="Username" />

    <label for="login-password">Password</label>
    <input type="password" id="login-password" placeholder="Password" />

    <button type="submit">Log In</button>
    </form>
	</div>
</template>

<template name="logoutForm">
    <div>
  <form id="logout-form">
    <button type="submit">Log Out</button>
  </form>
   </div>
</template>

<template name= "newScreening">
<form id="screeningForm"> 
    <div class="form-group all-group">
        <label>Event title: </label>
        <input type="text" name="event_title" class="form-control" placeholder="I am so lonely watch a movie with me">
    </div>
    <div class="form-group">
        <label>Film(s) you will show:</label>
        <input type="text" name="event_film" class="form-control" placeholder="Casablanca">
    </div>
    <div class="form-group">
        <label>Format(i.e. widescreen HDTV, projector, laptop):</label>
        <input type="text" name="event_format" class="form-control" placeholder="projector">
    </div>
    <div class="form-group">
        <label>Time/Date:</label>
        <input type="datetime-local" name="event_time" class="form-control">
    </div>
	<div class="form-group">
        <label>Location:</label>
        <input type="text" name="event_location" class="form-control" placeholder="blah blah street">
    </div>
	<div class="form-group">
        <label>Description: </label>
        <input type="text" name="event_description" class="form-control" placeholder="short description of your event">
    </div>
	
	 <button class="btn btn-default clearForm col-md-6">clear form</button>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Create Event</button>
</form>
</template>