 <template name="signupForm">
           <div>
          <form id="signup-form">
          <h2>Sign Up</h2>

          <label for="signup-username">Username</label>
          <input type="text" id="signup-username" placeholder="Username" />

         <label for="signup-password">Password</label>
        <input type="password" id="signup-password" placeholder="Password" />

         <label for="signup-name">Full Name</label>
         <input type="text" id="signup-name" placeholder="Full Name" />

           <button type="submit">Sign Up</button>
          </form>
	      </div>
      </template>

<template name="loginForm">
      <div>
      <form id="login-form">
     <h2>Log In</h2>

    <label for="login-username">Username</label>
    <input type="text" id="login-username" placeholder="Username" />

    <label for="login-password">Password</label>
    <input type="password" id="login-password" placeholder="Password" />

    <button type="submit">Log In</button>
    </form>
	</div>
</template>

<template name="logoutForm">
    <div>
  <form id="logout-form">
    <button type="submit">Log Out</button>
  </form>
   </div>
</template>