.tile{
border-style: solid;
border-width:thin;
border-color:black;
margin-bottom:5px;
width: 100%;

overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow{
    display: block;
    word-wrap: normal;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 250px;
}
.attend{
  float: right;
  margin-bottom: 5px;
}
#place2{

}
